/* Breakpoints: ; */

$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;

/* Color system */

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$gray-text: $gray-800;

$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;

$light: $gray-100;
$dark: $gray-800;

$color1: #457987;
$color2: #255867;
$color3: #467785;
$color4: #d4e8ed;
$color5: #f1efec;
$color6: #000000;
$color7: #000000;
$color8: #000000;
$color9: #000000;

/* Bootstrap color system */

$primary: $color1 !default;

/* Spacing system */

//$spacer: 1.5rem;

/* Buttons + Forms */

/*$input-btn-focus-width: 0;
$input-btn-focus-color: transparent !default;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;*/